.input {
  display: block;

  label {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.04em;
    text-align: left;
  }

  input {
    width: 221px;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.04em;
    text-align: left;
    border: none;

    &:focus {
      outline: none;
    }
  }
}
