.popup__content-addStaff {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &.addStaffActive {
    opacity: 1;
    visibility: visible;
    .addStaff-inner {
      transform: scale(1);
    }
  }

  .addStaff-inner {
    margin: 102px auto auto;
    width: 900px;
    height: 507px;
    border-radius: 10px;
    transform: scale(0);
    transition: all 0.3s;
    padding-left: 30px;
    padding-bottom: 30px;

    .popup__content-header {
      height: auto;
      padding-bottom: 20px;

      .content__header-title {
        margin-left: 0;
      }
    }

    .addStaff-block {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-top: 17px;
      margin-right: 30px;

      input {
        margin-top: 10px;
        margin-right: 20px;
      }

      .addStaff-input-tel {
        margin-right: 0;

        input {
          width: 119px;
        }
      }
    }

    .addStaff-block-3 {
      .title-row__select {
        margin-top: 10px;
        width: 462px;

        .dropdown__button {
          height: 40px;
          border-radius: 10px;
          padding-left: 10px;
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          letter-spacing: 0.04em;

          &::after {
            right: 10px;
          }
        }
      }
    }

    .addStaff-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 17px;
      margin-right: 30px;

      .addStaff-footer-L {
        height: 120px;

        .addStaff-footer-heading {
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          letter-spacing: 0.04em;
          text-align: left;
        }

        .footer-L-block {
          display: flex;

          .checkbox-items {
            margin-right: 30px;

            .checkbox-item {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-top: 20px;

              .checkbox {
                margin: 0;
              }

              p {
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 0.04em;
                margin-left: 10px;
              }
            }
          }
        }
      }

      .addStaff-footer-R {
        width: 160px;
        height: 120px;
        padding-top: 60px;
      }
    }
  }
}

.light-theme {
  .popup__content-addStaff {
    background: rgba(79, 79, 79, 0.55);

    .addStaff-inner {
      background-color: #ffffff;

      .popup__content-header {
        .content__header-title {
          color: #21317a;
        }
      }

      .addStaff-block {
        .input {
          input {
            background-color: #e0e0e0;
            color: #4f4f4f;
          }

          input::placeholder {
            color: #4f4f4f;
          }

          label {
            color: #000000;
          }

          .title-row__select {
            .dropdown__button {
              color: #4f4f4f;
            }
          }
        }
      }

      .addStaff-block-3 {
        .title-row__select {
          .dropdown__button {
            background-color: #e0e0e0;
          }
        }
      }

      .addStaff-footer {
        .addStaff-footer-L {
          .addStaff-footer-heading {
            color: #000000;
          }

          .footer-L-block {
            .checkbox-items {
              .checkbox-item {
                p {
                  color: #4f4f4f;
                }
              }
            }
          }
        }
      }
    }
  }
}

.dark-theme {
  .popup__content-addStaff {
    background: rgba(79, 79, 79, 0.55);

    .addStaff-inner {
      background-color: #231f20;

      .popup__content-header {
        .content__header-title {
          color: #495cff;
        }
      }

      .addStaff-block {
        .input {
          input {
            background-color: #4f4f4f;
            color: #bdbdbd;
          }

          input::placeholder {
            color: #bdbdbd;
          }

          label {
            color: #f2f2f2;
          }

          .title-row__select {
            .dropdown__button {
              color: #bdbdbd;
            }
          }
        }
      }

      .addStaff-block-3 {
        .title-row__select {
          .dropdown__button {
            background-color: #4f4f4f;
          }
        }
      }

      .addStaff-footer {
        .addStaff-footer-L {
          .addStaff-footer-heading {
            color: #f2f2f2;
          }

          .footer-L-block {
            .checkbox-items {
              .checkbox-item {
                p {
                  color: #e0e0e0;
                }
              }
            }
          }
        }
      }
    }
  }
}
